extends  _inc/_layout.jade

block body
	.masthead
		.display-table-cell.vertical-align-middle.height-100.width-100.text-center
			h1.masthead-title Grow premium in the right areas
			p.masthead-sub  Identify profitable segments outside of your current appetite.
			a(href="#contact" class="button button-brand") Talk to an expert

	.section
		.container
			.margin-bottom-8
				.max-width-700.margin-auto.text-center
					h2.section-title.margin-bottom-6.text-brand.weight-bold Grow premium by up to 3%
					p.text-16.text-18-above-medium There are good and bad segments in every area of the market. To identify where to target new business, you need access to a market-wide view of risks to guide your decision making. The Cytora Risk Engine reveals growth opportunities within your existing portfolio and profitable new segments outside of your exposure.
			.text-center
				a(href="#" class="button button-brand") Read the case study

	.section.background-brand.section-tabs
		.site-container
			h2.section-title.text-white.margin-bottom-6 Access to the Risk Engine unlocks multiple benefits
			.solution-tabs
				ul.solution-tabs-navigation
					li
						a.inner.is-active(href="p")
							.glyph
								img.white(src="#{images}/products/white/glyph/portfolio-benchmarking.svg")
								img.colour(src="#{images}/products/green/glyph/portfolio-benchmarking.svg")
							.text
								span Portfolio </br>
								| Benchmarking
					li
						a.inner(href="predictive-lead-generation")
							.glyph
								img.white(src="#{images}/products/white/glyph/predictive-lead-generation.svg")
								img.colour(src="#{images}/products/green/glyph/predictive-lead-generation.svg")
							.text
								span Predictive </br>
								| Lead Generation

					li
						a.inner(href="underwriting-micro-segmentation")
							.glyph
								img.white(src="#{images}/products/white/glyph/underwriting-micro-segmentation.svg")
								img.colour(src="#{images}/products/green/glyph/underwriting-micro-segmentation.svg")
							.text
								span Underwriting </br>
								| Micro-segmentation

					li
						a.inner(href="broker-benchmarking")
							.glyph
								img.white(src="#{images}/products/white/glyph/broker-benchmarking.svg")
								img.colour(src="#{images}/products/green/glyph/broker-benchmarking.svg")
							.text
								span Broker </br>
								| Benchmarking

				.solution-tabs-body.is-open(id="p")					
					.solution-tabs-panel-left
						img.solutions-tabes-panel-logo(src="#{images}/products/colour/portfolio-benchmarking.svg")

						img.solution-tabs-illustration(src="#{images}/illustrations/portfolio-benchmarking.png")

						ul.solution-tabs-indicator
							li.is-active Strategy 
							li Distribution
							li Underwriting
						p.solution-tabs-headline Continuously benchmark the performance of your portfolio against the entire market and adjust your appetite accordingly.

						ul.solutions-tabs-feature-list
							li
								img(src="#{images}/icons/tick.png")
								p Identify segments to grow and shrink in your existing book.
							li
								img(src="#{images}/icons/tick.png")
								p Identify profitable new segments to target outside of your exposure.
					
					.solution-tabs-panel-right.display-table-cell.vertical-align-middle
						img.solution-tabs-illustration(src="#{images}/illustrations/portfolio-benchmarking.png")

				.solution-tabs-body(id="predictive-lead-generation")					
					.solution-tabs-panel-left
						img.solutions-tabes-panel-logo(src="#{images}/products/colour/predictive-lead-generation.svg")
						img.solution-tabs-illustration(src="#{images}/illustrations/predictive-lead-generation.png")
						ul.solution-tabs-indicator
							li Strategy 
							li.is-active Distribution
							li Underwriting
						p.solution-tabs-headline Discover and target the most attractive opportunities within a trade sector or micro-segment that deliver a target loss ratio over time.
						ul.solutions-tabs-feature-list
							li
								img(src="#{images}/icons/tick.png")
								p Provide brokers with a list of high-quality leads enriched with contact and address information that match your appetite.
							li
								img(src="#{images}/icons/tick.png")
								p Target leads in the best performing segments to grow your book in the right areas.
					
					.solution-tabs-panel-right.display-table-cell.vertical-align-middle
						img.solution-tabs-illustration(src="#{images}/illustrations/predictive-lead-generation.png")

				.solution-tabs-body(id="underwriting-micro-segmentation")					
					.solution-tabs-panel-left
						img.solutions-tabes-panel-logo(src="#{images}/products/colour/underwriting-micro-segmentation.svg")
						img.solution-tabs-illustration(src="#{images}/illustrations/underwriting-micro-segmentation.png")
						ul.solution-tabs-indicator
							li.is-active Strategy 
							li Distribution
							li Underwriting
						p.solution-tabs-headline Reveal under-exploited or mispriced micro-segments within your existing book and profitable new micro-segments outside of your exposure and underwriting experience.
						ul.solutions-tabs-feature-list
							li
								img(src="#{images}/icons/tick.png")
								p Instantly differentiate between profitable and unprofitable risks relative to other risks in the same trade sector and strike at the most attractive opportunities.
							li
								img(src="#{images}/icons/tick.png")
								p Focus underwriting resources on the risks you want to win.
					
					.solution-tabs-panel-right.display-table-cell.vertical-align-middle
						img.solution-tabs-illustration(src="#{images}/illustrations/underwriting-micro-segmentation.png")

				.solution-tabs-body(id="broker-benchmarking")					
					.solution-tabs-panel-left
						img.solutions-tabes-panel-logo(src="#{images}/products/colour/broker-benchmarking.svg")
						img.solution-tabs-illustration(src="#{images}/illustrations/broker-benchmarking.png")
						ul.solution-tabs-indicator
							li Strategy 
							li.is-active Distribution
							li Underwriting
						p.solution-tabs-headline Continuously benchmark broker led business against the entire market based on risk quality and ensure you see the best risks from your network.
						ul.solutions-tabs-feature-list
							li
								img(src="#{images}/icons/tick.png")
								p Communicate to underperforming brokers where they are missing the most attractive risks.
							li
								img(src="#{images}/icons/tick.png")
								p Refine your broker network over time.
					
					.solution-tabs-panel-right.display-table-cell.vertical-align-middle
						img.solution-tabs-illustration(src="#{images}/illustrations/broker-benchmarking.png")
	

	+approach()

	+contact()

	+more('grow-premium')