extends  _inc/_layout.jade

block variables
	- var next = "grid";

block body

	script.
		$(document).ready(function() {
			$(".solution-tabs-navigation a").on("click", function(e) {
				
				e.preventDefault();

			$(".solution-tabs-navigation a").removeClass("is-active");

				$(this).addClass("is-active");

				var selected = $(this).attr("href");

				$(".solution-tabs-body").removeClass("is-open");

				$("#"+selected).addClass("is-open");
			});
		});


	.masthead
		.display-table-cell.vertical-align-middle.height-100.width-100.text-center
			h1.masthead-title GROW PREMIUM AT SUPERIOR LOSS RATIOS
			p.masthead-sub Cytora transforms online data into a risk selection, targeting and pricing advantage for commercial insurers.
			a(href="#contact" class="button button-brand") Talk to an expert

	.section.background-greyscale-100
		.site-container
			.columns.text-center
				.columns-4
					.margin-bottom-4.opacity-6
						img(src="#{images}/press/insurance-times.png" height="50")
					p
						a.text-brand.text-underline-hover.texgt-14(href="https://www.insurancetimes.co.uk/zurichs-richard-coleman-resurfaces-at-insurance-data-firm/1422127.article") Read why a former Zurich MD </br> joined our advisory team

				.columns-4
					.margin-bottom-4.opacity-6
						img(src="#{images}/press/xl-catlin.png" height="50")
					p
						a.text-brand.text-underline-hover(href="http://xlcatlin.com/insurance/news/xl-catlin-partners-with-artificial-intelligence-startup-cytora") Learn about our partnership </br> with XL Catlin

				.columns-4
					.margin-bottom-4.opacity-6
						img(src="#{images}/press/university-cambridge.png" height="50")
					p
						a.text-brand.text-underline-hover(href="https://cytora.com/news/2017/5/16/professor-ted-briscoe-joins-cytora-as-a-scientific-advisor") Supported by world-leading machine learning and risk modelling experts




	.section
		.container.max-width-700.margin-auto.text-center
			p.text-24.text-32-above-medium.text-brand.weight-bold Cytora enables commercial insurers to grow premium by up to 3% while improving loss ratios by up to 8%
			p.text-16.text-18-above-medium Our Risk Engine unlocks superior selection, targeting and pricing solutions that are driven by proprietary machine learning algorithms, developed by one of the most sophisticated teams of PhD-level data scientists in insurance.

			a(href="#" class="button button-brand") Read the case study


	.section.background-greyscale-100
		.site-container
			h2.section-title.margin-bottom-4 How does the Cytora Risk Engine work?
			.margin-bottom-8
				p.max-width-600.margin-auto.text-center The Cytora Risk Engine continuously ingests data from tens of thousands of different sources into risk scores, prices, and insights that reveal and predict future claims, attractive risks and overall risk quality.

			.panel.padding-6.text-center.width-100.max-width-300.margin-auto
				h2.margin-bottom-2.text-brand.text-1.text-20 External data
				p.text-14.text-muted Online Data, Company Websites, Social Media, News Media, Government Reports

			.dotted-line.margin-auto(style="height: 50px")

			.panel.padding-6.text-center.width-100.max-width-300.margin-auto
				h2.margin-bottom-2.text-brand.text-20 Tuned against insurer’s internal data
				p.text-14.text-muted Claims, Exposure, Submissions

			.dotted-line.margin-auto(style="height: 50px")

			.max-width-400.margin-auto.text-center.position-relative
				.floating-thing
					p Data is continuously ingested,  cleaned, structured, normalised and run through a series of machine learning algorithms.
				img(src="#{images}/thing.png" width="80")

			.dotted-line.margin-auto(style="height: 50px")

			.columns.display-flex-above-l.flex-column
				.columns-4.display-flex-above-l
					.panel.padding-6.text-center.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/expense-ratio.png" width="40")
						h2.margin-bottom-2.text-brand.text-16 Improve loss ratios
						p.text-14.text-muted Continuously tune your portfolio in response to changing market dynamics.

				.columns-4.display-flex-above-l
					.panel.padding-6.text-center.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/grow-premium.png" width="40")
						h2.margin-bottom-2.text-brand.text-16 Grow premium
						p.text-14.text-muted Identify profitable segments outside of your current appetite.

				.columns-4.display-flex-above-l
					.panel.padding-6.text-center.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/expense-ratio.png" width="40")
						h2.margin-bottom-2.text-brand.text-16 Improve expense ratios
						p.text-14.text-muted Automate processes and optimise the ratio of risks submitted to risks bound. 

	//- +approach()

	+contact()
