mixin contact()
	.section.background-brand(id="contact")
		.site-container
			h2.section-title.text-white.margin-bottom-8 Contact us to speak to an expert

			.max-width-600.margin-auto
				.form-group
					.columns.gutter-2
						.columns-6
							input(type="text" placeholder="Your name")
						.columns-6
							input(type="text" placeholder="Company")
				.form-group
					input(type="email" placeholder="Email address")

				.form-group
					input(type="tel" placeholder="Phone number")

				.button.button-brand-dark.width-100.button-50.margin-bottom-3 Request callback

				.text-center.text-white
					p Or give us a call on 0207 890 890                       


mixin solutions()
	.section.background-greyscale-100.section-solutions
		.site-container
			h2.section-title.margin-bottom-6 Solutions

			.columns.display-flex-above-l.flex-column
				.columns-4.display-flex-above-l
					.panel.padding-10.text-center.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/expense-ratio.png" width="80")
						h2.margin-bottom-2.text-brand.text-16 Improve loss ratios by up to 8%
						div(style="height: 130px")
							p.text-14.text-muted Continuously tune your portfolio in response to changing market dynamics.
							a(href="#" class="button button-brand") Learn more

				.columns-4.display-flex-above-l
					.panel.padding-10.text-center.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/grow-premium.png" width="80")
						h2.margin-bottom-2.text-brand.text-16 Grow premium by up to 3%
						div(style="height: 130px")
							p.text-14.text-muted Identify profitable segments outside of your current appetite.
							a(href="#" class="button button-brand") Learn more

				.columns-4.display-flex-above-l
					.panel.padding-10.text-center.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/expense-ratio.png" width="80")
						h2.margin-bottom-2.text-brand.text-16 Improve expense ratios
						div(style="height: 130px")
							p.text-14.text-muted Automate processes and optimise the ratio of risks submitted to risks bound. 
							a(href="#" class="button button-brand") Learn more


mixin more(hide)
	.section.no-padding
		.site-container
			.columns.no-gutter
				.columns-6(class="#{ hide === 'grow-premium' ? 'is-hidden' : ''}")
					.more-info-contant.border-right-above-l.border-bottom-below-l
						.display-table-cell.vertical-align-middle
							img.margin-bottom-3(src="#{images}/icons/grow-premium.png" width="60")
							h2.text-brand.margin-bottom-3 Grow premium
							p.text-muted Target the most attractive risks </br> in segments you’re already writing.
							a(href="/grow-premium.html" class="button button-brand") Learn more

				.columns-6(class="#{ hide === 'loss-ratios' ? 'is-hidden' : ''}")
					.more-info-contant.border-right-above-l.border-bottom-below-l
						.display-table-cell.vertical-align-middle
							img.margin-bottom-3(src="#{images}/icons/expense-ratio.png" width="60")
							h2.text-brand.margin-bottom-3 Improve loss ratios
							p.text-muted Continuously tune your portfolio </br> in response to changing market dynamics.
							a(href="/improve-loss-ratio.html" class="button button-brand") Learn more

				.columns-6(class="#{ hide === 'expense-ratios' ? 'is-hidden' : ''}")
					.more-info-contant
						.display-table-cell.vertical-align-middle
							img.margin-bottom-3(src="#{images}/icons/expense-ratio.png" width="60")
							h2.text-brand.margin-bottom-3 Improve expense ratios
							p.text-muted Automate processes and optimise </br> the ratio of risks submitted to risks bound. 
							a(href="/expense-ratio.html" class="button button-brand") Learn more


mixin approach()
	.section.background-greyscale-100.section-approach
		.site-container
			h2.section-title.margin-bottom-6 Cytora’s unique approach to risk selection and pricing

			.columns.display-flex-above-l.flex-column
				.columns-4.display-flex-above-l
					.panel.padding-12.text-center.width-100.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/scale.png" width="40")
						h2.margin-bottom-2.text-brand.text-18 Population Scale
						p.text-14.text-muted Every insurable risk is </br> known and ranked.

				.columns-4.display-flex-above-l
					.panel.padding-12.text-center.width-100.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/time.png" width="40")
						h2.margin-bottom-2.text-brand.text-18 Real-time
						p.text-14.text-muted Data is updated continuously.

				.columns-4.display-flex-above-l
					.panel.padding-12.text-center.width-100.max-width-400.margin-auto
						img.margin-bottom-4(src="#{images}/icons/scale.png" width="40")
						h2.margin-bottom-2.text-brand.text-18 Algorithmic
						p.text-14.text-muted  5 years for a human to read the data processed daily,

mixin icon(size, name, color)
	svg(style="width: #{size}; height: #{size}" class="#{color}")
		use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="##{name}")


mixin indicator()
	ul.solution-tabs-indicator
		li.is-active Solutions
		li Test
		li Moo